#set ($friendlyUrl = $request.getAttribute("FRIENDLY_URL"))
#set ($entryId = $friendlyUrl.substring($mathTool.add($friendlyUrl.lastIndexOf("/"), 1)))
#if ($mathTool.toInteger($entryId))
	##
	## DETAIL d'un article
	
	## recupeation des services.
	#set( $layoutLocalService = $serviceLocator.findService("com.liferay.portal.service.LayoutLocalService") )
	#set( $assetEntryLocalService = $serviceLocator.findService("com.liferay.portlet.asset.service.AssetEntryLocalService") )
	#set( $assetEntry = $assetEntryLocalService.getEntry("com.liferay.portlet.journal.model.JournalArticle", $getterUtil.getLong($entryId)) )
	#set( $groupId = $themeDisplay.getLayout().getGroupId() )
	#set( $journalArticleLocalService = $serviceLocator.findService("com.liferay.portlet.journal.service.JournalArticleLocalService") )
	#set( $journalArticle = $journalArticleLocalService.fetchLatestIndexableArticle($getterUtil.getLong($assetEntry.getClassPK()) ) )
	#set( $document = $saxReaderUtil.read($journalArticle.getContent()) )
	#set( $rootElement = $document.getRootElement() )
		
	## recuperation des datas de l'article.
	#set($paragraphes = []) ## paragraphes de l'article.
	#foreach( $dynamicElement in $rootElement.elements() )	
		#if( "ImageArticle" == $dynamicElement.attributeValue("name") )
			#set( $img = $dynamicElement.element("dynamic-content").getText())
			#set( $imgElmts = $dynamicElement.elements() )
			#foreach($imgElmt in $imgElmts)
				#if("Credits" == $imgElmt.attributeValue("name"))
					#set( $imgCredit = $imgElmt.element("dynamic-content").getText() )
				#end
				#if("Legende" == $imgElmt.attributeValue("name"))
					#set( $imgLegende = $imgElmt.element("dynamic-content").getText() )
				#end
				#if("SeparateurImageArticle" == $imgElmt.attributeValue("name"))
					#set( $imgSep = $imgElmt.element("dynamic-content").getText() )
				#end
			#end
		#end
		#if( "Chapeau" == $dynamicElement.attributeValue("name") )
			#set( $chapeau = $dynamicElement.element("dynamic-content").getText() )
			#set( $chapeauSep = $dynamicElement.element("dynamic-element").element("dynamic-content").getText() )
		#end
		#if( "Thematique" == $dynamicElement.attributeValue("name") )
			#set( $thematique = $dynamicElement.element("dynamic-content").getText())
		#end
		## TRAITEMENT des paragraphes
		#if( "InterTitre" == $dynamicElement.attributeValue("name") )
			$paragraphes.add( $dynamicElement )
		#end
	#end
	
	##
    ## AFFICHAGE ARTICLE
    ## TEMPLATE DETAIL
    <section class="article">
    	## THEMATIQUES
    	<div class="thematiques">$thematique</div>
    	## TITRE
    	<h1 class="titre">$assetEntry.getTitle($locale)</h1>			
    	#*
    	
    	INTRO *#
    	<div class="intro">
    		#if ($img != "")
    		<div class="image left">
    			<img alt="Image de l'article" src="$img" />
    			<div class="infos">
    				<span class="credit">$imgCredit</span>
    				<span class="legende">$imgLegende</span>
    			</div>
    		</div>
    		 #end 
    		<p class="chapeau">$chapeau</p>
    	</div>
    	<div class="separateur-chapeau sep-$chapeauSep"></div>	
    	#*
    	
    	CONTENT *#
		## Traitement de chaque paragraphe.
		<div class="content">
		#if($paragraphes.size() > 0)
		#foreach($paragraphe in $paragraphes)
		<div class="paragraphe">
			##
			## contexte paragraphe
    		#set($imgIllustrations = [])
    		#set($linkToPages = [])
    		#set($linkUrls = [])
    		#set($linkDocs = [])		
			##
			## recuperation des datas du paragraphe
			#set( $titlePara = $paragraphe.element("dynamic-content").getText() )	
			#foreach($elmt in $paragraphe.elements())
				## image
    			#if("ImageCorpsTexte" == $elmt.attributeValue("name"))
    				#set( $imgCrpsTxt = $elmt.element("dynamic-content").getText() ) 
    				#foreach($imgElmts in $elmt.elements())
    					#if("PositionImageCorpsTexte" == $imgElmts.attributeValue("name"))
    						#set( $imgCrpsTxtPos = $imgElmts.element("dynamic-content").getText() )
    					#end
    					#if("CreditsCorpsTexte" == $imgElmts.attributeValue("name"))
    						#set( $imgCrpsTxtCredit = $imgElmts.element("dynamic-content").getText() )
    					#end
					#end
    			#end		
    			## corps de texte
    			#if("CorpsTexte" == $elmt.attributeValue("name"))
    				#set( $corpsTexte = $elmt.element("dynamic-content").getText() )					

				#end 			
    			#if("SeparateurCorpsTexte" == $elmt.attributeValue("name"))
    				#set( $corpsTexteSep = $elmt.element("dynamic-content").getText() )
				#end
				## image d'illustration - mulitvalue
    			#if("ImageIllustration" == $elmt.attributeValue("name"))
					$imgIllustrations.add( $elmt )		
				#end				
    			#if("SeparateurImageIllustration" == $elmt.attributeValue("name"))
    				#set( $imgIllustrationsSep = $elmt.element("dynamic-content").getText() )
				#end		
    			## LINKTOPAGE - - multivalue
                #if( "LinkToPage" == $elmt.attributeValue("name"))
    				$linkToPages.add($elmt)
    			#end				
       			#if("SeparateurSavoirPlus" == $elmt.attributeValue("name"))
        			#set( $linkToPageSep = $elmt.element("dynamic-content").getText() )
        		#end	
    			## LIEN DOCUMENT - multivalue
                #if( "DAM" == $elmt.attributeValue("name"))
    				$linkDocs.add( $elmt )
    			#end
    			#if("SeparateurDocument" == $elmt.attributeValue("name"))
    				#set( $linkDocsSep = $elmt.element("dynamic-content").getText() )
    			#end
    			## LIEN URL EXTERNE - multivalue
                #if( "LinkUrl" == $elmt.attributeValue("name"))
					$linkUrls.add( $elmt )
    			#end
    			#if("SeparateurLinkUrl" == $elmt.attributeValue("name"))
    				#set( $linkUrlsSep = $elmt.element("dynamic-content").getText() )
				#end				
				
			#end ## for each elmtParagraphe		
			#* 
			
			HTML PARAGRAPHE *#
			## titre
            #if ($titlePara != "")
				<h2 class="inter-titre">$titlePara</h2>
			#end			
			## image
			#if($imgCrpsTxt != "")
            <div class="image $imgCrpsTxtPos">
    			<img alt="Image du corps de texte" src="$imgCrpsTxt" />
    			<div class="infos">
    				<span class="credit">$imgCrpsTxtCredit</span>
    			</div>
    		</div>
			#end
			## corps de texte
            #if ($corpsTexte != "")
				<p class="corps-texte">$corpsTexte</p>
				<div class="separateur-paragraphe sep-$corpsTexteSep"></div>
            #end		
			## image illustrations
			#if($imgIllustrations.size() > 0)
			<div class="illustrations">
				#foreach ($imgIllustration in $imgIllustrations)
					#set($imgSrc = $imgIllustration.element("dynamic-content").getData())
					#set($creditIllustration = $imgIllustration.element("dynamic-element").element("dynamic-content").getData())
					#if ($imgSrc != "")
					<div class="illustration">
						<img alt="" src="$imgSrc" />
						<div class="infos">
							<span class="credit">$creditIllustration</span>
						</div>
					</div>
					#end
				#end	
				<div class="separateur-illustration sep-$imgIllustrationsSep"></div>
			</div>				
			#end
			## liens internes
			#if($linkToPages.size() > 0)
				<ul class="liens-internes links">
                #foreach ($linkToPage in $linkToPages)
					#set($lpKeyLayout = $linkToPage.element("dynamic-content").getData())
					#set($lpLabel = $linkToPage.element("dynamic-element").element("dynamic-content").getData())
					#if ($lpKeyLayout != "" && $lpLabel != "")
						## traitement de la key : layout_id@private_layout@group_id
						#set($tokensLayout = $lpKeyLayout.split("@"))
						#set($layoutId = $tokensLayout.get(0))
						#set($isPrivate = false)
						#if($tokensLayout.get(1) != "" && $tokensLayout.get(1).contains("private"))
							#set($isPrivate = true)
						#end
						#set($groupId = $tokensLayout.get(2))
						## recuperation de la Friendly URL
						#set( $layout = $layoutLocalService.getLayout($getterUtil.getLong($groupId), $isPrivate, $getterUtil.getLong($layoutId)) )
						#set( $friendlyUrl = $portalUtil.getLayoutFullURL($layout, $themeDisplay) )
						## affichage du lien.
    					#if ($friendlyUrl != "")
							<li><a class="interne" href="$friendlyUrl">$lpLabel</a></li>
						#end
					#end
    			#end
    			</ul>
				<div class="separateur-liens-internes sep-$linkToPageSep"></div>
			#end
			## document
			#if($linkDocs.size() > 0)
    			<ul class="liens-doc links">
                #foreach ($linkDoc in $linkDocs)
					#set($linkDocSrc = $linkDoc.element("dynamic-content").getData())
					#set($linkDocsLabel = $linkDoc.element("dynamic-element").element("dynamic-content").getData())					
                    #if ($linkDocSrc != "" && $linksDocsLabel != "")
    				<li><a class="document" href="$linkDocSrc">$linkDocsLabel</a></li>
                    #end
    			#end
    			</ul>
    			<div class="separateur-liens-docs sep-$linkDocsSep"></div>			
			#end
			## liens externes
			#if($linkUrls.size() > 0)
				<ul class="liens-externes links">
                #foreach ($linkUrl in $linkUrls)
					#set($linkUrlSrc = $linkUrl.element("dynamic-content").getData())
					#set($linkUrlLabel = $linkUrl.element("dynamic-element").element("dynamic-content").getData())
                    #if ($linkUrlLabel != "")
    				<li><a class="externe" href="$linkUrlSrc" target="_blank">$linkUrlLabel</a></li>
                    #end
    			#end
    			</ul>
    			<div class="separateur-liens-externes sep-$linkUrlsSep"></div>
			#end	
		</div> ##paragraphe	
		#end ## end for each paragraphe
		#end
		</div> ## content
	<section>
	##
	## breadcrumbs
	#set ($bcEntries = $portal.getClass().forName("java.util.ArrayList").newInstance())
	#set ($bcEntry = $portal.getClass().forName("com.liferay.portal.kernel.servlet.taglib.ui.BreadcrumbEntry").newInstance())
	$bcEntry.setTitle($assetEntry.getTitle($locale))
	#set ($dummy = $bcEntries.add($bcEntry))
	$request.setAttribute("LIFERAY_SHARED_PORTLET_BREADCRUMBS", $bcEntries)
	$request.setAttribute("view.jsp-results", $portal.getClass().forName("java.util.ArrayList").newInstance())	
	## 
	## Cacher la pagination
	<script>
		AUI().ready(
			function(A) {
				A.one('.taglib-page-iterator').hide();
			}
		);
	</script>	
#else
	## liste article
    <section class="articles">
    #set($classNameLocalService = $serviceLocator.findService("com.liferay.portal.service.ClassNameLocalService"))
    #set($jaClassNameId = $classNameLocalService.fetchClassNameId("com.liferay.portlet.journal.model.JournalArticle"))			
    #set($ddmStructureLocalService  = $serviceLocator.findService("com.liferay.portlet.dynamicdatamapping.service.DDMStructureLocalService"))

    #foreach ($entry in $entries)
    	#set($renderer = $entry.getAssetRenderer() )
    	#set($className = $renderer.getClassName() )
    	
    	## attribut article.
    	#set( $img = "")
    	#set( $chapeau = "")
    	#set( $articleUrl = "")
    		
    	#if( $className == "com.liferay.portlet.journal.model.JournalArticle" )
    		#set( $journalArticle = $renderer.getArticle() )
    		#set( $document = $saxReaderUtil.read($journalArticle.getContent()) )
    		#set( $rootElement = $document.getRootElement() )		
    	
    		#set($structure = $ddmStructureLocalService.fetchStructure($getterUtil.getLong($groupId), $getterUtil.getLong($jaClassNameId), $journalArticle.structureId))
    		#if ($structure.name.contains("Article"))
    			#foreach( $dynamicElement in $rootElement.elements() )
    				#if( "ImageArticle" == $dynamicElement.attributeValue("name") )
    					#set( $img = $dynamicElement.element("dynamic-content").getText())
    				#end
    				#if( "Chapeau" == $dynamicElement.attributeValue("name") )
    					#set( $chapeau = $dynamicElement.element("dynamic-content").getText())
    				#end
    				#if( "Thematique" == $dynamicElement.attributeValue("name") )
    					#set( $thematique = $dynamicElement.element("dynamic-content").getText())
    				#end
    			#end		
    			## HTML
                <article class="article article-item">
                    ## image article.
                    <a href="$articleUrl"><img src="$img" alt="picto article"></a>
                    ## Titre
                    <h3><a href="$articleUrl">$entry.getTitle($locale)</a></h3>
                    ## infos.
                    <div class="infos">
                    	<span class="thematique sep">$thematique</span>
                    </div>
                    <p class="chapeau">$chapeau</p>
            		<p><a href="/group/portailintranet/pages-articles/-/asset_publisher/id/$entry.getClassPK()" class="link-red">Lire la suite ...</a></p>
                </article>	
    		#end			
    	#end
    #end	
</section>
#end