<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="managedConnectionFactory" class="com.sun.connector.cciblackbox.CciLocalTxManagedConnectionFactory">
		<property name="connectionURL"><value>jdbc:mysql://localhost:3306/tudu</value></property>
		<property name="driverName"><value>com.mysql.jdbc.Driver</value></property>
	</bean>

	<bean id="targetConnectionFactory" class="org.springframework.jca.support.LocalConnectionFactoryBean">
		<property name="managedConnectionFactory">
			<ref local="managedConnectionFactory"/>
		</property>
	</bean>

	<bean id="connectionFactory" class="org.springframework.jca.cci.connection.ConnectionSpecConnectionFactoryAdapter">
     <property name="targetConnectionFactory"><ref bean="targetConnectionFactory"/></property>
     <property name="connectionSpec">
       <bean class="com.sun.connector.cciblackbox.CciConnectionSpec">
         <property name="user"><value>root</value></property>
         <property name="password"><value/></property>
       </bean>
     </property>
    </bean>
	
	<bean id="todosDao" class="tudu.jca.TodosDaoImpl">
		<property name="connectionFactory"><ref local="connectionFactory"/></property>
	</bean>

</beans>